{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}

    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'UserApp/css/edit_profile.css' %}">
    <style>
    .main-container {
        width: 50%;
        background-color: white;
        margin: 10% auto;
        border-radius: 2em;
        padding: 2em 2em;
    }
    
    .container {
        display: flex;
        margin: 2em 2em;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile-photo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-photo-container img {
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 50%;
        margin: .5em auto;
    }
    
    .user-content-container{
        display: flex;
        flex-direction: column;
        margin: 2em;
        padding-left: 2em;
    }
    
    .username {
        font-size: 2em;
        font-weight: 600;
        margin: 5px 0;
    }
    
    .user-title {
        font-size: 1.6em;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.876);
        margin: 5px 0;
        width: 80%;
        line-height: 1.3em
    }
    
    .user-desc {
        font-size: .9em;
        color: #4B4B4B;
        margin: 4px auto 4px 0;
    }
    
    .profile-edit-link-container {
        display: flex;
        justify-content: flex-end;
        
    }
    
    .profile-edit-link-container a {
        text-decoration: none;
        color: #1a0dab;
    }
    
    
    @media only screen and (max-width: 1200px) {
        .container {
            display: block;
        }
    
        .main-container {
            padding: 2em 1.5em;
        }
    
        .user-content-container {
            padding-left: 0;
        }
    
        .profile-photo-container {
            width: 100%;
        }
      }
    
    
      @media only screen and (max-width: 700px) {
        .user-content-container {
            margin: 2em auto;
        }
    
        .user-title {
            width: 100%;
        }
    
        .main-container {
            margin: 10% auto;
            width: 75%;
        }
    
        .header-username {
            display: none;
        }
    
        .profile-photo-container {
            width: 100%;
        }
      }
    
      @media only screen and (min-width: 1200px){
        .user-content-container {
            width: 60%;
        }
        .profile-photo-container {
            margin: auto;
            width: 30%;
        }
    
        .container {
            font-size: 18px;
        }
      }
   </style>

    <main class="main-container">
            <form class = 'container' action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-photo-container profile-photo-form-container">
                    <label for="profile_image">Profile Image</label>
                     {% if form.instance.profile_image %}
                    <img src="{{form.instance.profile_image.url}}" alt="user-image" width="" srcset="">
                    <input type="file" name="profile_image" id="id_profile_image" accept="image/*">
                    {% else %}
                        {{ form.profile_image }}
                    {% endif %}
                </div>
                <div class="user-content-container user-profile-form-container">
                    
                    <ul>
                        <li class="name">
                            <label for="name">Your First Name</label>
                            {{form.first_name}}
                        </li>
                        <li class="title">
                            <label for="bio">Your Last Name</label>
                            {{form.last_name}}
                        </li>
                        <li class="desc">
                            <label for="location">Zip Code</label>
                            {{form.zipcode}}
                        </li>
                        <li class="Birth date">
                            <label for="birth_date">BirthDate</label>
                            {{form.birth_date}}
                        </li>
                    </ul>
                    <button class="profile-save-button"> Save </button>
                </div>
            </form>
    </main>



    {% endblock %}

    <!-- user.userprofile.profile_image.url -->