{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url('your-background-image.jpg');*/
    background-size: cover;
    background-position: center;
    margin-top: 10px;
  }
  .login-form-card {
    width: 500px;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  .login-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 900;
  }
    
  .login-form-card 
  input[type="text"],
  input[type="password"]{
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
  .login-button:hover {
    background-color: #0056b3;
    }
    
  .signup-link {
    text-align: center;
    margin-top: 15px;
    }
    
  .signup-link a{
    color: #007bff;
    text-decoration: none;
  }
  .signup-link a:hover {
    text-decoration: underline;
  }
  .auth-form > label{
    font-size: 20px;
    }
</style>


<div class="login-container ">
    <div class="login-form-card">
      <h1 class="login-heading">Log in</h1>
      <form action="" method="POST" class="auth-form">
        {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="username-input" placeholder="Username" required>

            <label for="">Password:</label>
            <input type="password" name = "password" id="password" class="pass-input" placeholder="Password" required>

          <div class="show-password" style="margin-bottom:10px; float:right">
            <input type="checkbox" id="showPassword" onclick="show_Pass()">
            <label for="showPassword">Show Password</label>
          </div>
          
          <button class="login-button" type="submit"> Login </button>
          <p class="signup-link">Don't have an account?? <a href="{% url 'UserApp:signup_form' %}">Sign Up</a></p>

      </form>
    </div>
</div>

<script>
  function show_Pass() {
    var password = document.getElementById("password");

    if (password.type === "password") {
        password.type = "text";

    } else {
        password.type = "password";
    }
  }
</script>

{% endblock %}