{% extends 'base.html' %}
{% load static %}
{% block title %} userProfile {% endblock %}
{% block content %}
   
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #F3F2F2;
    }
    .user-container{
        display: flex;
        gap: 30px;
        padding: 2% 20%;
    }
    .profile{
        background-color: #fff;
        width: 30%;
        height: 50vh;
    }
    .profile .profile-info{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .profile .profile-info img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    .profile .profile-links{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .profile .profile-links a{
        padding-left: 20px;
        text-decoration: none;
        margin-left: 10px;
        color: #333
    }
    .profile .profile-links a:hover{
        border-left: 3px solid gray;
    }

    /*Profile Form Styles*/
    .profile-form{
        background-color: #fff;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .profile-form .heading-div,.form-heading{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .profile-form .info{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .profile-form .form{
        border: 1px solid gray;
        margin: 20px;
    }
    .form .form-heading button{
        background-color: aqua;
        padding: 10px;
        border-radius: 20px;
        border: none;
        transition: all 0.2s ease;
    }
    .form .form-heading button:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    .form-input form{
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    form .image-container{
        margin: auto;
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    form .image-container img{
        margin: auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    form .image-container input{
        font-size: x-small;
    }

    .form-input form .input-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
    }
    .input-container input{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        padding: 10px;
        font-size: 15px;
    }
    .input-container .birth-zip{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
  </style>

<div class="user-container">
    <div class="profile">
        <div class="profile-info">
            <img src="{{user.userprofile.profile_image.url}}" alt="Your Image Here">
            <h3>Hello {{user.username}}</h3>
        </div>
        <div class="profile-links">
            <hr>
            <a href="{% url 'Social:favorite_recipes' %}">Favorite Recipes</a>
            <hr>
            <a href="{% url 'UserApp:user_recipes' %}">All Personal Recipes</a>
            <hr>
            <a href="{% url 'UserApp:logout_form' %}">Logout</a>
            <hr>
        </div>
    </div>
    <div class="profile-form">
        <div class="heading-div">
            <h3 class="heading" style="font-weight: 900; padding-bottom: 0; font-size:x-large;">Personal info</h3>
            <!-- <button type="submit">Save Changes</button> -->
        </div>
        <div class="info">
            <!-- <p>These details will be used for all the Meredith profiles associated with your username. By filling out this information, you will receive a more personalized experience across all Meredith websites.</p> -->
            <p style="color: gray;">Only you can see and edit the information on this page. It will not be displayed for other users to see.</p>
        </div>
        <hr>
        <div class="form">
            <div class="form-heading">
                <h2 class="heading" style="margin: auto 0;">My Basic Info</h2>
                <!-- <button>&#65085;</button> -->
                <button type="submit" onclick="bclick()">Save Changes</button>
                <!-- <input type="submit" value="Save Changes" onclick="bclick()"> -->
            </div>
            <hr>
            <div class="form-input">
                <form  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="image-container">
                        <!-- <label for="profile_image">Profile Image</label> -->
                        {% if form.instance.profile_image %}
                        <img src="{{user.userprofile.profile_image.url}}" alt="User Image" id="imageElement">
                        <input type="file" name="profile_image" id="id_profile_image" accept="image/*">
                        {% else %}
                            {{ form.profile_image }}
                        {% endif %}
                    </div>
                    <div class="input-container">
                        <div class="f-name">
                            <label for="first_name">First Name</label>
                            {{form.first_name}}
                        </div>
                        <div class="l-name">
                            <label for="last_name">Last Name</label>
                            {{form.last_name}}
                        </div>
                        <div class="email-container">
                            <label for="email">Email</label>
                            {{form.email}}
                        </div>
                        <div class="birth-zip">
                            <div class="b-date">
                                <label for="birth_date">BirthDate</label>
                                {{form.birth_date}}
                            </div>
                            <div class="zip-code">
                                <label for="zipcode">Zip Code</label>
                                {{form.zipcode}}
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Submit" style="display:none;" id="submitButton">
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    document.getElementById('id_first_name').placeholder = "Your Name"
    document.getElementById('id_last_name').placeholder = 'Your Last Name'
    document.getElementById('id_email').placeholder = 'Email Address'
    document.getElementById('id_birth_date').placeholder = 'YYYY-MM-DD'
    document.getElementById('id_zipcode').placeholder = 'ZipCode'

    var submitButton = document.getElementById('submitButton')

    function bclick() {
        submitButton.click();
        console.log('clicked')
    }

    document.getElementById('id_profile_image').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const imageElement = document.getElementById('imageElement');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imageElement.src = e.target.result;
            }
            reader.readAsDataURL(file);
        } else {
            imageElement.src = '';
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        var emailField = document.getElementById("id_email");
        if (emailField && emailField.value) {
            emailField.setAttribute("readonly", "readonly");
            emailField.style.color = 'gray'
        }
    });

</script>

{% endblock %}