{% extends 'base.html' %}
{% load static %}
{% block title %} SignUp {% endblock %}
{% block content %}
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .auth-form-container {
            display: flex;
            align-items: center;
            justify-content: center;
            /*background-image: url('your-background-image.jpg');*/
            background-size: cover;
            background-position: center;
            margin-top: 10px;
        }
        
        /* Form card styling */
        .auth-form-card {
            max-width: 500px;
            padding: 15px 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        }
        .signup-heading {
            text-align: center;
            margin-bottom: 20px;
            font-size: xx-large;
            font-weight: 900;
            }
        
        /* Input field styling */
        .auth-form 
        input[type="text"],
        input[type="password"],
        input[type='email'] {
            width: 100%;
            padding: 10px 15px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        /* Button styling */
        .auth-form button {
            width: 100%;
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            
        }
        
        .auth-form button:hover {
            background-color: #0056b3;
        }
        
        /* Error message styling */
        .errorlist {
            color: #dc3545;
            margin: 5px auto;
            list-style: none;
            font-family: Arial, Helvetica, sans-serif;
        }
        .login-link {
            text-align: center;
            margin-top: 15px;
            }
        
        /* Link styling */
        .auth-form a {
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
        }
        .auth-form a:hover {
            text-decoration: underline;
        }
        .auth-form > label{
            font-size: 20px;
        }

    </style>

    <div class="auth-form-container">
        <div class="auth-form-card">
            <h1 class="signup-heading">SignUp</h1>
            <form method="POST" class="auth-form">
                {% csrf_token %}
                
                {{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}
                {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
            
                <label for="id_password1" style="margin:auto">Passwords</label>
                <div class="passwords" style="display: flex; gap:10px">
                    {{ form.password1 }}
                    {{ form.password2 }}
                </div>
                <div class="errors">
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                </div>
            
                <div class="show-password" style="margin-bottom:10px; float:right">
                    <input type="checkbox" id="showPassword" onclick="show_Pass()">
                    <label for="showPassword">Show Password</label>
                </div>
                <button type="submit">SignUp</button>
                <p class="error">{{ form.non_field_errors }}</p>
                <p class="login-link">Already have an account? <a href="{% url 'UserApp:login_form' %}">Login</a></p>
            </form>
        </div>
    </div>


    <script>
        var id_username = document.getElementById('id_username')
        var id_email = document.getElementById('id_email')
        var id_password1 = document.getElementById('id_password1')
        var id_password2 = document.getElementById('id_password2')
      
        id_username.placeholder = 'Enter Username';
        id_email.placeholder = 'Enter Email'
        id_password1.placeholder = 'Password';
        id_password2.placeholder = 'Confirm Password';


        function show_Pass() {
            var password1 = document.getElementById("id_password1");
            var password2 = document.getElementById("id_password2");
            if (id_password1.type === "password") {
                id_password1.type = "text";
                id_password2.type = "text";
            } else {
                id_password1.type = "password";
                id_password2.type = "password";
            }
        }
      
    </script>

{% endblock %}

